html{
  font-size: 14px;
}

body{
  margin: 0;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

main{
  flex: 1 0 auto;
}

.title-text{
  font-size: 2.2rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
  font-weight: 700;
}


.flex-container {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
  transition: all .2s ease;
  height: 300px;
  overflow: auto;
  
}
.flex-container > div {
  background-color: lightgreen;
  border: 3px solid green;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  color: green;
}

.properties{
  display: flex;
  overflow: auto;
  padding: 10px 0;
}

.form-ele {
  padding: 10px;
  min-width: 200px;
}

.form-ele label{
  font-size: 14px;
  display: block;
}
.form-ele select, .form-ele input {
  margin-top: 5px;
  width: 100%;
  padding: 5px 10px;
}

@media screen and (min-width: 600px) {
  html{
    font-size: 16px;
  }
}